ul {
    list-style-type: none; /* Remove bullets */
    padding: 6px; 
    margin: 0; 
  }

.card #names_card{
    align-items: center;
    
}
#loader-container{
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}
